.progress {
	max-width: 1000px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #e5e7eb;
	border-radius: 16px;
	padding: 1.5rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}


.progress-section {
	display: flex;
	gap: 2rem;
}

.progress-item {
	text-align: center;
}

.progress-item .count {
	font-size: 1.5rem;
	font-weight: bold;
}

.progress-item .label {
	font-size: 0.875rem;
	color: #6b7280;
	margin-top: 0.25rem;
}

.progress-item.green .count {
	color: #16a34a;
}

.progress-item.blue .count {
	color: #2563eb;
}

.progress-item.red .count {
	color: #dc2626;
}

.progress-actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Стили для кнопки перемешивания */
.shuffle-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	background-color: #fff;
	color: #4b5563;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}

.shuffle-btn:hover {
	background-color: #f3f4f6;
	color: #111827;
}

.shuffle-btn.active {
	background-color: #eef6ff;
	border-color: #90caf9;
	color: #1e3a8a;
}

/* Стили для селекта */
.category-select select {
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	background-color: #fff;
	color: #4b5563;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}

.category-select select:hover {
	background-color: #f3f4f6;
	color: #111827;
}

.view-all-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #4b5563;
	font-size: 0.875rem;
	text-decoration: none;
	transition: color 0.2s, background 0.2s;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	border: 1px solid #e5e7eb;
	background-color: #fff;
}

.view-all-link:hover {
	color: #111827;
	background: #f3f4f6;
}

.icon {
	width: 20px;
	height: 20px;
}